<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @request.fullname %>
</p>

<p>
  <b>Email:</b>
  <%= @request.email %>
</p>

<p>
  <b>Price:</b>
  <%= @request.price %>
</p>

<p>
  <b>Details:</b>
  <%= @request.details %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
